<h1 class="text-center">User Index</h1>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
    <div class="text-center">
      <div class="card">
        <p><%= user.first_name + " " + user.last_name %></p>
        <p><%= user.job_description %></p>
        <p><%= user.research_interests %></p>
        <%= link_to "back", user_path(user.id), class: "card-link"%>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <%= link_to "Home", root_path, class: "btn btn-primary"%>
</div>
<%#= cl_image_tag user.avatar_url, width: 40, height: 40, gravity: :face, crop: :thumb, class: "card-user" %>
