<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <h2>Users</h2>
    </div>

    <% @users.each do |user| %>
    <div class="col-xs-12 col-sm-3">
      <div class="product product-small">
        <div class='product-body'>
          <h3><%= user.first_name + " " + user.last_name %></h3>
          <p><%= user.email %></p>
          <p><%= user.job_description %></p>
          <p><%= user.research_interests %></p>
          <%= link_to "", user_path(user.id), class: "card-link"%>
              <%#= cl_image_tag user.avatar, width: 10, height: 10, class: "card-user hidden-xs", alt: "No profile picture" %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
