<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <h2>Users</h2>
    </div>

    <% @users.each do |user| %>
    <div class="col-xs-12 col-sm-3">
      <div class="product product-small">
        <div class='product-body'>
          <% if user.avatar? %>
          <%= cl_image_tag user.avatar, width: 150, height: 150, crop: "fill", class: "product-image hidden-xs", alt: "No profile picture" %>
          <% else %>
          <%= cl_image_tag "http://lorempixel.com/300/300/abstract/2/", width: 150, height: 150, class: "product-image hidden-xs", alt: "No profile picture" %>
          <% end %>
          <h3><%= user.first_name.capitalize + " " + user.last_name.capitalize %></h3>
          <p><%= user.email %></p>
          <p><%#= user.job_description %></p>
          <p><%#= user.research_interests %></p>
          <%= link_to "", user_path(user.id), class: "card-link"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
