<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2>Users</h2>
    </div>

    <% @users.each do |user| %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="product">
        <div>
          <%#= cl_image_tag user.avatar_url, width: 40, height: 40, gravity: :face, crop: :thumb, class: "product-image hidden-xs" %>
        </div>
        <div class='product-body'>
          <h3><%= user.first_name + " " + user.last_name %></h3>
          <p><%= user.email %></p>
          <p><%= user.job_description %></p>
          <p><%= user.research_interests %></p>
          <%= link_to "", user_path(user.id), class: "card-link"%>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
