<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>User Profile</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-8">
      <div class="product">
        <div>
          <img src="http://lorempixel.com/100/100/abstract/1/" alt="lorempixel" class="product-image hidden-xs">
        </div>
        <div class='product-body'>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><%= @user.email %></p>
          <p><%= @user.job_description %></p>
          <p><%= @user.education %></p>
          <div>
            <!-- Conditional for "Edit profile" -->
            <% if current_user == @user %>
            <%= link_to "Edit profile", edit_profile_path %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h3>Research Interests</h3>
        <p><%= @user.research_interests %></p>
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <h3>Lab Information</h3>
      </div>
      <div>
        <div>
          <!-- Conditional for current user doesn't have labs -->
          <% if @user == current_user && !@user.joined_labs.first %>
          <p>Looks like you aren't in any labs.</p>
          <p>Would you like to create one?</p>
          <%= link_to "Create a Lab", new_lab_path %>
          <!-- Conditional for user doesn't have labs -->
          <% elsif !@user.joined_labs.first %>
          <p>Looks like <%= @user.first_name %> isn't in any labs.</p>
          <!-- Conditional for user has labs -->
          <% elsif @user.joined_labs.first %>
          <% @user.joined_labs.each do |lab| %>
          <div class="product">
            <div class='product-body'>
              <h3><%= lab.name %></h3>
              <p>Status: <% if !lab.archived? %> Active <% else %> Archived <% end %></p>
              <%= link_to "Go to lab", lab_path(lab) %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div>
  <ul class="list-unstyled list-inline text-center">
    <li><%= link_to "Back to user index", users_path, class: "btn btn-primary"%></li>
    <li><%= link_to "Back to home", root_path, class: "btn btn-primary"%></li>
  </ul>
</div>
