<!-- Home banner -->
<div class="banner" style="background-image: linear-gradient(0deg, rgba(225, 225, 225, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%), url('https://static.pexels.com/photos/371954/pexels-photo-371954.jpeg');">
  <div class="banner-content">
    <% if current_user %>
    <h1>Welcome back, <%= current_user.first_name.capitalize %>.</h1>
    <%= link_to "Browse your feed", papers_path, class: "btn btn-primary btn-lg button-lg" %>
    <% else%>
    <h1>Journal Link</h1>
    <p>Keep up with the latest news in your field</p>
    <%= link_to t(".sign_in", default: "Signup"), new_user_registration_path, class: "btn btn-primary btn-lg button-lg" %>
    <% end %>
  </div>
</div>
<!-- Extra information -->
<div class="padded-home text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h4 id="home-info-title">Wasting time searching for papers?</h4>
        <h4>Journal Link will bring them to you!</h4>
      </div>
    </div>
  </div>
</div>
<div class="padded-home text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div id="home-info-left">
          <h4 id="home-info-sub-header">Personalise your feed</h4>
          <p>Set search <em>keywords</em>, refine with <em>filters</em> and browse your own research feed.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="home-info-right"><%= image_tag("home1.jpg", :height => 350) %></div>
      </div>
    </div>
  </div>
</div>
<div class="padded-home text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div id="home-info-left"><%= image_tag("home2.jpg", :height => 350) %></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="home-info-right">
          <h4 id="home-info-sub-header">Share with your lab</h4>
          <p>Found a useful paper? Use the <em>lab feature</em> to share with your team.</p>
        </div>
      </div>
    </div>
  </div>
</div>
