<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>Papers</h2>
    </div>

    <% @papers.each_with_index do |paper, i| %>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if i == @papers.length - 1 %>
      <div class="product-last">
      <% else %>
      <div class="product">
      <% end %>
        <div class='product-body'>
          <h3><%= paper.title %></h3>
          <ul class="list-inline">
            <% paper.authors.each do |author| %>
            <li><%= author.name %></li>
            <% end %>
          </ul>
          <p><%= paper.date %> | <%= paper.source %> | <%= paper.reference %></p>
          <%= link_to "", paper_path(paper), class: "card-link" %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
