<h1>Papers</h1>
<div class="container">
<% @papers.each do |paper| %>
  <div class="card">
    <h3><%= paper.title %></h3>
    <ul class="list-inline list-unstyled">
    <% paper.authors.each do |author| %>
      <li><%= author.name %></li>
    <% end %>
    </ul>
    <p><%= paper.date %></p>
    <p><%= paper.source %></p>
    <%= link_to "See abstract", paper_path(paper), class: "btn btn-primary" %>
  </div>
<% end %>
</div>
