<div class="container">
  <div class="row">
    <% if current_user.search_keywords.empty? %>
    <div class="col-xs-12">
      <h3 class="text-center">Set your search criteria in your profile</h3>
    </div>
    <% else %>
    <div class="col-xs-12 col-sm-4">
      <div class="card-search">
        <h3>Refine your search</h3>
        <%= form_tag papers_path, method: :get, class: "form-group" do%>
        <% current_user.search_keywords.each do |word| %>
        <label for="checkbox"><input class="form-controll" type="checkbox" id="checkbox" name="keywords[]" value="<%= word %>" <%='checked' if @keywords.include?(word) %>
          ><%= " " + word.capitalize %></label><br>
          <% end %>
          <div id="sandbox-container">
            <input type="text" class="form-control" name="date" value="<%= params[:date] %>">
          </div>
          <select name="source" id="">
            <option value="">All sources</option>
            <% @sources.each do |source| %>
            <option value="<%= source %>" <%= "selected" if params[:source] == source%>>
              <%= source %>
            </option>
            <% end %>
          </select>
          <input type="submit" value="Filter" class="btn btn-yellow-inverted btn-long button">
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <% if @papers.empty? %>
        <h3 class="text-center">No results</h3>
        <% else %>
        <% @papers.each_with_index do |paper, index| %>
        <div class='paper'>
          <div class="paper-body">
          <%= link_to paper_path(paper), class: "paper-title" do %>
            <h3><%= paper.title %></h3>
            <% end %>
            <ul class="list-inline">
              <% paper.authors.each_with_index do |author, index| %>
              <% if index.even? %>
              <li><%= author.name %></li>
              <% else %>
              <li class="emphasis"><%= author.name %></li>
              <% end %>
              <% end %>
            </ul>
            <p class="date"><%= paper.date %> | <%= paper.source %> | doi: <%= paper.reference %></p>
            <%= link_to "Go to paper", paper_path(paper), class: "paper-link" %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('#sandbox-container input').datepicker({
      });
    });
  </script>
  <% end %>

