<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <!-- Paper title -->
      <div>
        <h2><%= @paper.title %></h2>
      </div>
      <!-- Paper authors -->
      <div>
        <h3>Authors</h3>
        <ul class="list-inline">
          <% @paper.authors.each do |author| %>
          <li>
            <%= author.name %>
            <% if @paper.is_user_potential_author?(current_user, author)  %>
            <%= link_to confirm_authorship_paper_author_path(@paper, author), method: :post do %>
            <i class="glyphicon glyphicon-education"></i>
            Claim authorship
            <% end %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <div>
        <h4><%= @paper.date %> | <%= @paper.source %> | <%= @paper.reference %></h4>
      </div>
      <!-- Paper abstract -->
      <div>
        <h3>Abstract</h3>
        <p><%= @paper.abstract %></p>
      </div>
      <!-- Paper links -->
      <div>
        <%= link_to "Go to source", @paper.source_url %>
        <ul>
          <% @labs.each do |lab| %>
          <li>
            <%= link_to "Share with #{lab.name}", new_lab_paper_post_path(lab, @paper)%>
          </li>
          <% end %>
        </ul>
      </div>
      <!-- Create review -->
      <div>
        <h3>New review</h3>
        <div class="form-group">
          <%= simple_form_for([@paper, @review]) do |f|%>
          <%= f.input :content, class: "form-control" %>
          <%= f.button :submit, "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <!-- Index reviews -->
      <div>
        <h3>Reviews</h3>
        <% @paper.reviews.sort_by { |review| review.created_at}.reverse.each do |review|%>
        <div class="message">
          <!-- Cloudinary image tag -->
          <% if review.user.avatar? %>
          <%= cl_image_tag review.user.avatar, width: 50, height: 50, gravity: :face, crop: :thumb, class: "avatar-large hidden-xs", alt: "No profile picture" %>
          <% else %>
          <%= cl_image_tag "http://lorempixel.com/300/300/abstract/2/", width: 50, height: 50, class: "avatar-large hidden-xs", alt: "No profile picture" %>
          <% end %>
          <div class="message-name">
            <div class="message-name">
              <h3><%= review.user.first_name %> <%= review.user.last_name %></h3>
              <p><%= review.created_at %></p>
            </div>
            <div class="message-body">
              <p><%= review.content %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
