<h3><%= membership.user.first_name %> <%= membership.user.last_name %></h3>
<h4>Status: <strong><%= membership.status %></strong></h4>
<p><%= membership.user.job_description %></p>
<p><%= membership.user.education %></p>
<p><%= link_to "View profile", user_path(membership.user) %></p>
